<!DOCTYPE html>
<meta name="google-signin-client_id" content="365631867288-m7q9boog1vgsp7dbalv2uil95cjm0j25.apps.googleusercontent.com">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      <link rel="icon" type="image/png" href="images/icon.png" />
      <head>
        <title>Lightning Robotics</title>
        <th:block th:include="fragments/common.html :: headerfiles"></th:block>
      </head>

      <div class="py-5 text-center"
        style = "display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <img
            alt="Lightning Robotics"
            src="/images/lightning.png"
            style="max-width: 60%;"
        />
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <button 
            style=" margin: 10px;"
            class="btn btn-sm btn-outline-secondary" 
            onclick = "signOut();">Sign Out</a>
        <button 
            class="btn btn-primary"
            id = "continue" 
            style=" margin: 50px;"
            disabled = "true"
            onclick="continueToPage();">Not Signed In</button>
      </div>

    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" id = "form_submit" method="post" style = "width: 1000px; visibility: hidden;">
            <div style = "margin:auto;"><label> User Name : <input id = "form_user" type="text" name="username"/> </label></div>
            <div style = "margin:auto;"><label> Password: <input id = "form_pw"  type="text" name="password"/> </label></div>
            <div style = "margin:auto; background-color: orange;"><input type="submit" value="Sign In"/></div>
        </form>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script>
            var sessionEmail = "Not Signed In";
            var sessionName = "Not Signed In";
            var continueButton = document.getElementById("continue");

            function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();
                sessionEmail = profile.getEmail();
                sessionName = profile.getName();
                // The ID token you need to pass to your backend:
                var id_token = googleUser.getAuthResponse().id_token; 

                continueButton.disabled = false;   
                continueButton.innerHTML = "Continue as " + sessionEmail;
            }

            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                window.alert('User signed out.');
                });
                continueButton.innerHTML = "Not Signed In";
                continueButton.disabled = true;
            }
            
            function continueToPage(){
                setUserData(sessionEmail, sessionName);
                setTimeout(() => {
                    document.getElementById("form_user").value = sessionEmail;
                    document.getElementById("form_pw").value = "password";      
                document.getElementById("form_submit").submit();}, 500 );  
            }

            function setUserData(email, name){
                $.ajax(
                    {
                        type : "POST",
                        contentType : "application/json",
                        url: "http://localhost:8080/admin", // temporary URL
                        data: JSON.stringify({"name":name, "email":email}),
                        timeout : 100000,
                        success : function (data){
                            window.alert("sucess! " + data);
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            window.alert(jqXHR.status + " status " + textStatus + " thrown " + errorThrown);
                        }
                    }
                );
            }
          </script>
    </body>
</html>
