<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="icon" type="image/png" href="images/icon.png" />
    <head>
        <title>Lightning Robotics</title>
        <th:block th:include="fragments/common.html :: headerfiles"></th:block>
    </head>
    <body>
        <div class="container">
            <div class="py-5 text-center">
                <img
                    alt="Lightning Robotics"
                    src="/images/lightning.png"
                    style="max-width: 60%;"
                />
                <h2>Remote Operators Console</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>Input Configuration</h4>
                    <!--
                        Image about Keyboard/joystick input
                        flag that details what input is active (keyboard v. joystick)
                    -->
                    <div class="row mb-3">
                        <div class="lead">Configured Input Device: </div>
                        <div id="inpdev" class="alert alert-success">
                            Keyboard
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Event Log</h4>
                    <div id="info" class="alert alert-success">
                        Active Keys:
                    </div>
                    <!--
                        Key Display
                    -->
                    <div id="console"></div>
                </div>
            </div>
        </div>

        <!--
            <script type="text/javascript" src="run.js"></script>
        -->
        <script>
            var ws;
            function connect() {
                var url =
                    /*[['ws://'+${#httpServletRequest.serverName}+':'+${#httpServletRequest.serverPort}+@{/ds}]]*/ "ws://localhost:8080/ds";
                /*]]>*/
                ws = new WebSocket(url);
                ws.onopen = function () {
                    showBroadcastMessage('<div class="alert alert-success">Connected</div>');
                    ws.send("IAMDRIVER");
                };
                ws.onclose = function () {
                    window.location.href = "/error";
                };
                ws.onmessage = function (data) {
                    var msg = data.data;
                    if (msg == "LEAVE") {
                        window.location.href = "/thx";
                    }
                    showBroadcastMessage(createTextNode(msg));
                };
            }

            function disconnect() {
                if (ws != null) {
                    ws.close();
                    showBroadcastMessage('<div class="alert alert-warning">Disconnected</div>');
                }
            }

            function showBroadcastMessage(message) {
                $("#console").html(message + $("#console").html());
            }

            function createTextNode(msg) {
                return '<div class="alert alert-info">' + msg + "</div>";
            }

            window.onload = connect();

            var Key = {
                LEFT: 37,
                UP: 38,
                RIGHT: 39,
                DOWN: 40,
            };

            function _addEventListener(evt, element, fn) {
                if (window.addEventListener) {
                    element.addEventListener(evt, fn, false);
                } else {
                    element.attachEvent("on" + evt, fn);
                }
            }

            function _removeEventListener(evt, element, fn) {
                if (window.removeEventListener) {
                    element.removeEventListener(evt, fn, false);
                } else {
                    element.detachEvent("on" + evt, fn);
                }
            }

            function handleKeyboardEvent(evt) {
                if (!evt) {
                    evt = window.event;
                }
                var keycode = evt.keyCode || evt.which;

                var info = document.getElementById("info");
                switch (
                    keycode // TODO send these
                ) {
                    case Key.LEFT:
                        info.innerHTML += "&larr; ";
                        break;
                    case Key.UP:
                        info.innerHTML += "&uarr; ";
                        break;
                    case Key.RIGHT:
                        info.innerHTML += "&rarr; ";
                        break;
                    case Key.DOWN:
                        info.innerHTML += "&darr; ";
                        break;
                    default:
                    info.innerHTML += "SOMEKEY ";
                }
            }

            _addEventListener("keydown", document, handleKeyboardEvent); // add for keyup?

            var gamepad = false;
            var interval;

            window.addEventListener("gamepadconnected", function (e) {
                document.getElementById("inpdev").innerHTML = "Gamepad";
                _removeEventListener("keydown", document, handleKeyboardEvent);
                gamepad = true;
                //interval = setInterval(loop, 500);
            });

            window.addEventListener("gamepaddisconnected", function () {
                document.getElementById("inpdev").innerHTML = "Keyboard";
                _addEventListener("keydown", document, handleKeyboardEvent);
                gamepad = false;
                //clearInterval(interval);
            });

            function buttonPressed(b) {
                if (typeof b == "object") {
                    return b.pressed;
                }
                return b == 1.0;
            }

            function loop() {
                var gamepads = navigator.getGamepads
                    ? navigator.getGamepads()
                    : navigator.webkitGetGamepads
                    ? navigator.webkitGetGamepads
                    : [];
                if (!gamepads) return;

                var gp = gamepads[0];

                // TODO - scan axes and send to server
            }
        </script>
    </body>
    <footer th:insert="fragments/common.html :: footer"></footer>
</html>
