<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="icon" type="image/png" href="images/icon.png" />
    <head>
        <title>Lightning Robotics</title>
        <th:block th:include="fragments/common.html :: headerfiles"></th:block>
    </head>
    <body>
        <div class="container">
            <div class="py-5 text-center">
                <img
                    alt="Lightning Robotics"
                    src="/images/lightning.png"
                    style="max-width: 60%;"
                />
                <h2>Remote Operators Console</h2>
                <p class="lead">Please wait for robot to become available.</p>
                
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="lead">
                        In the mean time, please review some of these helpful
                        resources:
                    </p>
                    <!--Helpful Resources Here-->
                </div>
                <div class="col-md-6">
                    <div id="console"></div>
                </div>
            </div>
        </div>
        <script>
            var ws;
            function connect() {
                var url = "ws://23.28.76.16.xip.io:862/wait";
                    /*[['ws://'+${#httpServletRequest.serverName}+':'+${#httpServletRequest.serverPort}+@{/wait}]]*/ //"ws://localhost:8080/wait";
                /*]]>*/
                ws = new WebSocket(url);
                var email = window.location.pathname.replace('/user/', '');
                ws.onopen = function () {
                    showBroadcastMessage('<div class="alert alert-success">Connected -> Pending Robot Availibility</div>');
                    ws.send('ADD ' + email);
                };
                ws.onmessage = function (data) {
                    var msg = data.data;
                    showBroadcastMessage(createTextNode(msg));
                    if(msg == 'URNEXT') {
                        ws.send('USRLEAV ' + email);
                        window.location.href='/run/' + email;
                        ws.close();
                    }
                };
                ws.onclose = function () {
                    showBroadcastMessage('<div class="alert alert-danger">Disconnected</div>');
                };
            }

            window.onload = connect();
            window.onunload = connect();

            function showBroadcastMessage(message) {
                $("#console").html($("#console").html() + message);
            }

            function createTextNode(msg) {
                return '<div class="alert alert-info">' + msg + "</div>";
            }

        </script>
    </body>
    <footer th:insert="fragments/common.html :: footer"></footer>
</html>
