<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lightning Robotics Remote Operators Console</title>
    <th:block th:include="fragments/common.html :: headerfiles"></th:block>
</head>
<body>

    <div class="container">
        <div class="py-5 text-center">
            <h1>Lightning Robotics Remote Operators Console</h1>
            <img src="/src/main/resources/img/lightning.png" alt="Lightning Robotics">
        </div>
    </div>

</body>
<footer th:insert="fragments/common.html :: footer"></footer>
</html>