<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lightning Robotics Remote Operators Console</title>
    <th:block th:include="fragments/common.html :: headerfiles"></th:block>
</head>
<body>

    <div class="container">
        <div class="py-5 text-center">
            <h2>Lightning Robotics Remote Operators Console</h2>
            <p class="lead">Please wait for robot to become available.</p>
            <p class="lead">In the mean time, please review some of these helpful resources:</p>
            <!--Helpful Resources Here-->
        </div>
        
    </div>

</body>
<footer th:insert="fragments/common.html :: footer"></footer>
</html>